.p3{
    color: rgb(253, 253, 76);
}


*{
    font-family: 'Courier New', Courier, monospace;

}

h1{
    font-size: 35px;
}

#upper{
    text-transform: uppercase;
}


.line5-a{
    background-color: skyblue;
}

[class|=langu] {
    border-style: ridge;
}

.img + ul{
    list-style-type: none;
    letter-spacing: 5px;
}

body img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

ul > li{
    letter-spacing: 7px;
    margin-left: 15px;
    list-style: none;
}

img ~ p{
    text-align: center;
}